<div class="container">
<!-- Outer Row -->
<div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body div-bg-color-palebluelow">
                <!-- Nested Row within Card Body -->
                <div class="div-align-center ">
                    <form class="">
                        <div class="col-md-12">
                            <div class="row">
                                <span class=""></span>
                                <h1 class="h4 text-gray-900 mb-4 heading-text-com1 fa fa-book-medical"> EasyMed Login!</h1>
                            </div>
                            <div class="row">
                                <div class="col-md-5 form-group div-align-right">Username</div>
                                <div class="col-md-7 form-group"><input type="text" class="form-control form-control-user" id="txtUser" name="txtUser" placeholder="Enter your username..." ng-model="txtUser"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 form-group div-align-right">Password</div>
                                <div class="col-md-7 form-group"><input type="password" class="form-control form-control-user" id="txtPass" name="txtPass" placeholder="Password" ng-model="txtPass"></div>
                            </div>
                            <div class="row div">
                                <div class="col-md-10 col-xs-15 col-lg-5 form-group"></div>
                                <div class="col-md-4 col-xs-6 col-lg-2 form-group"><a href="" id="btnLogin" name="btnLogin" class="btn btn-primary btn-user btn-block" ng-click="appLogin(txtUser,txtPass)">Login</a></div>
                            </div>
                            <div class="row">
                                <span style="color:red;">{{loginMessage}}</span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>




